.list {
  list-style: none;
  background-color: #d5dde8d9;
  width: 270px;
  padding: 70px;
  margin: 20px;
}
.item {
  width: 270px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  overflow: hidden;
}
.profile {
  border-radius: 15px;
}
.description {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
}
.avatar {
  width: 120px;
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: 20px;
}
.name,
.tag,
.location {
  margin: 0 auto;
  margin-top: 3px;
  font-size: 14px;
  color: grey;
}
.name {
  color: black;
  font-size: 20px;
}
.stats {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  background-color: #e7ecf1;
  list-style: none;
}
.statsItem {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  border-right: 1px solid #0000001c;
}
.statsItem:last-child {
  border-right: none;
}

.label {
  font-size: 14px;
  color: grey;
}
.quantity {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 600;
  color: black;
}
